Body{
    display: flex;
    flex-direction: column;
    background-color: #8BB3C2;
}
#container{
    justify-content: center;
    align-items: center;
    background-color: #4B456B;
    

}

#tab{
    text-align: center;

}

nav{
    display: flex;
}