body{
    background-color: #8BB3C2;
}
#login{
    background-color: #4B456B;
    width: 75%;
}

.flexContainer{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tab{
    text-align: center;

}

nav{
    display: flex;
}