body{
    background-color: #8BB3C2;
}
#login{
    background-color: #4B456B;
    text-align: center;
    width: 75%;
}

.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

#tab{
    text-align: center;

}

nav{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    padding: 10px;
}

footer{
    text-align: center;
}
